<div class="row">
  <div class="col-md-4">
    <div class="card border-0 text-center features feature-primary rounded p-4">
      <div class="icon text-center mx-auto rounded-md">
        <i class="uil uil-phone d-block rounded h3 mb-0"></i>
      </div>
      <div class="content mt-3">
        <h5 class="footer-head">Phone</h5>
        <p class="text-muted">
          Start working with andrewdevblog that can provide everything
        </p>
        <a href="tel:+152534-468-854" class="link">+152 534-468-854</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
    <div class="card border-0 text-center features feature-primary rounded p-4">
      <div class="icon text-center mx-auto rounded-md">
        <i class="uil uil-envelope d-block rounded h3 mb-0"></i>
      </div>
      <div class="content mt-3">
        <h5 class="footer-head">Email</h5>
        <p class="text-muted">
          Start working with andrewdevblog that can provide everything
        </p>
        <a href="mailto:contact@example.com" class="link"
          >contact&#64;example.com</a
        >
      </div>
    </div>
  </div>

  <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
    <div class="card border-0 text-center features feature-primary rounded p-4">
      <div class="icon text-center mx-auto rounded-md">
        <i class="uil uil-map-marker d-block rounded h3 mb-0"></i>
      </div>
      <div class="content mt-3">
        <h5 class="footer-head">Location</h5>
        <p class="text-muted">
          C/54 Northwest Freeway, Suite 558, <br />Houston, USA 485
        </p>
        <a href="" class="video-play-icon link lightbox">View on Google map</a>
      </div>
    </div>
  </div>
</div>
