//
// _testi.scss
//

/*********************************/
/*           Testimonial         */
/*===============================*/

.tns-nav {
    text-align: center;
    margin-top: 10px;
    button {
        padding: 4px;
        opacity: 1;
        margin: 3px;
        border-radius: 10px;
        background: rgba($primary, 0.5) !important;
        transition: all 0.5s ease;
        border: 2px solid rgba($white, 0.5);
        &.tns-nav-active {
            background: $primary !important;
            border-color: $primary;
        }
    }
}

//Control
.tns-controls {
    button[data-controls="prev"],
    button[data-controls="next"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $white;
        color: $dark;
        border: none;
        transition: all 0.5s ease;
        z-index: 1;
        box-shadow: $shadow-lg;
        &:hover {
            background: $primary;
            color: $white;
        }
    }
    button[data-controls="prev"] {
        left: 0;
    }
    button[data-controls="next"] {
        right: 0;
    }
}