<!-- Header -->
<section class="bg-half-74 bg-light d-table w-100">
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h3>Posts</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Body -->
<section class="mt-4">
  <div class="container">
    <div class="row align-items-center">
      <button
        type="button"
        class="btn btn-link add-link"
        [routerLink]="'/admin/add-edit-post'"
        [queryParams]="{ type: 'add' }"
      >
        Add Post
      </button>
      <div class="col-12">
        <p-table
          [value]="posts$"
          [loading]="inProgress"
          loadingIcon="spinner-border"
          styleClass="p-datatable-striped"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 50px">ID</th>
              <th>Title</th>
              <th>Subtitle</th>
              <th>Body</th>
              <th>Tag</th>
              <th>Img Path</th>
              <th>Date Posted</th>
              <th>Date Created</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-post>
            <tr>
              <td>{{ post.id }}</td>
              <td>{{ post.title }}</td>
              <td>{{ post.subtitle }}</td>
              <td>{{ post.body }}</td>
              <td>{{ post.tag }}</td>
              <td>{{ post.image }}</td>
              <td>{{ post.date_posted | date : "shortDate" }}</td>
              <td>{{ post.date_created | date : "shortDate" }}</td>
              <td style="display: inline">
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="editPost(post)"
                >
                  edit
                </button>
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="deleteConfirm(post)"
                >
                  delete
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</section>
