<!-- Header -->
<section class="bg-half-74 bg-light d-table w-100">
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h3>Add Post</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Body -->
<section class="mt-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-link back-link"
          [routerLink]="'/admin/posts'"
        >
          Back
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form class="needs-validation" [formGroup]="forms" (submit)="submit()">
          <!-- Title -->
          <div class="row">
            <div class="col-6">
              <label class="form-label" for="exampleInputEmail1">
                Title:
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="title"
                id="title"
              />
            </div>
            <div
              class="invalid-feedback d-block"
              role="alert"
              *ngIf="
                !forms.get('title').valid &&
                forms.get('title').touched &&
                forms.get('title').dirty
              "
            >
              Title required
            </div>
          </div>

          <!-- Subtitle -->
          <div class="row mt-2">
            <div class="col-6">
              <label class="form-label" for="subtitle"> Subtitle: </label>
              <input
                type="text"
                class="form-control"
                formControlName="subtitle"
                id="title"
              />
            </div>
          </div>

          <!-- Body -->
          <div class="row mt-2">
            <div class="col-6">
              <label class="form-label" for="body"> Body: </label>
              <textarea
                rows="5"
                cols="40"
                class="form-control"
                formControlName="body"
                id="body"
              ></textarea>
            </div>
          </div>

          <!-- Tag -->
          <div class="row mt-2">
            <div class="col-6">
              <label class="form-label" for="body"> Tag: </label>
              <select class="form-control" formControlName="tag">
                <option
                  *ngFor="let option of tags$ | async"
                  [value]="option.id"
                >
                  {{ option.tag }}
                </option>
              </select>
            </div>
          </div>

          <!-- Buttons -->
          <div class="mt-2 buttons">
            <button
              class="btn btn-primary"
              [disabled]="!forms.valid"
              type="submit"
            >
              Submit
            </button>
            <div *ngIf="inProgress" class="spinner">
              <mat-spinner strokeWidth="3" diameter="20"></mat-spinner>
            </div>
            <button
              class="btn btn-secondary ms-2"
              (click)="reset()"
              type="button"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
