<!-- Footer Start -->
<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-30 footer-border">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="text-sm-start">
                                <p class="mb-0">© {{date}} Andrew's Dev Blog</p>
                            </div>
                        </div>

                        <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <ul class="list-unstyled footer-list terms-service text-sm-end mb-0">
                                <li class="list-inline-item mb-0 m-x-2"><a href="#" (click)="$event.preventDefault()"
                                        class="text-foot me-2">Privacy</a></li>
                                <li class="list-inline-item mb-0 m-x-2"><a href="#" (click)="$event.preventDefault()"
                                        class="text-foot me-2">Terms</a></li>
                                <li class="list-inline-item mb-0 m-x-2"><a href="#" (click)="$event.preventDefault()"
                                        class="text-foot me-2">FAQs</a></li>
                                <li class="list-inline-item mb-0 m-x-2"><a href="#" (click)="contact()"
                                        class="text-foot">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!--end footer-->