<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky" [ngClass]="bg ? 'bg-white' : '' || scroll ? 'nav-sticky' : '' ">
    <div class="container">
        <!-- Logo container-->
        <a class="logo" href="/">
            <!-- <img [src]="'assets/images/logo.png'" height="22" class="big-logo" alt="">
            <img [src]="'assets/images/logo-icon.png'" height="28" class="small-logo" alt=""> -->
            <!-- REPLACE with my own logo-->
            <span class="title">Andrew's Dev Blog</span>
        </a>
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" [ngClass]="open ? 'open' : ''" id="isToggle" (click)="toggleMenu($event)">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">
            <!-- <li class="list-inline-item mb-0">
                <div class="search-bar">
                    <div id="search" class="menu-search mb-0">
                        <form role="search" method="get" id="searchform" class="searchform">
                            <div>
                                <input type="text" class="border rounded" name="s" id="s" placeholder="Search...">
                                <input type="submit" id="searchsubmit" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
            </li> -->

            <!-- <li class="list-inline-item ms-2">
                <a [routerLink]="'/author'"><img [src]="'assets/images/users/user-3.jpg'"
                        class="rounded-pill avatar avatar-sm-sm" alt=""></a>
            </li> -->
        </ul>

        <div id="navigation" [ngClass]="open ? 'd-block' : 'd-none'">
            <!-- Navigation Menu-->
            <ul class="navigation-menu nav-left">
                <li [ngClass]="current === '/index-business' ? 'active' : ''"><a [routerLink]="'/'"
                        class="sub-menu-item" [ngClass]="current === '/index-business' ? 'active' : ''">Home</a></li>

                <li [ngClass]="current === '/business-aboutus' ? 'active' : ''"><a [routerLink]="'/about-me'"
                        class="sub-menu-item">About Me</a></li>

                <!-- <li [ngClass]="current === '/business-contact' ? 'active' : ''"><a [routerLink]="'/business-contact'"
                        class="sub-menu-item">Contact Me</a></li> -->
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div>
</header><!--end header-->
<!-- Navbar End -->