<!-- Navbar STart -->
<header
  id="topnav"
  class="defaultscroll sticky"
  [ngClass]="bg ? 'bg-white' : '' || scroll ? 'nav-sticky' : ''"
>
  <div class="container">
    <!-- Logo Title -->
    <a class="logo" href="/">
      <!-- <img [src]="'assets/images/logo.png'" height="22" class="big-logo" alt="">
            <img [src]="'assets/images/logo-icon.png'" height="28" class="small-logo" alt=""> -->
      <!-- REPLACE with my own logo-->
      <span class="title">Andrew's Dev Blog</span>
    </a>

    <div id="navigation">
      <p-menubar
        [model]="menuItems"
        [style]="{
          border: 'none',
          'background-color': '#fff',
        }"
      >
        <!-- Routerlink exists template -->
        <ng-template pTemplate="item" let-item>
          <ng-container *ngIf="item.route; else urlRef">
            <a [routerLink]="item.route" class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-container>
          <!-- External url exists template -->
          <ng-template #urlRef>
            <a
              *ngIf="item.url; else noLink"
              [href]="item.url"
              class="p-menuitem-link"
            >
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-template>
          <!-- No link exists template -->
          <ng-template #noLink>
            <div class="p-menuitem-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </div>
          </ng-template>
        </ng-template>
      </p-menubar>
    </div>
  </div>
</header>
