<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <small class="text-muted mb-1 fw-medium text-uppercase mx-auto">About me</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title-heading">
                    <h5 class="heading mb-0 page-heading">I live in Maryland. I love spending time with family and
                        doing things outdoors. I really like riding road, gravel, mountain, and e-bikes. I also love to
                        play around with different technologies. If you want to check out my professional resume, look
                        below.
                    </h5>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<!-- Start -->
<section class="mt-4">
    <div class="container">
        <div class="row align-items-center">
            <h3 class="text-center">RESUME</h3>

            <div class="col-lg-10 col-md-6">
                <h5>HIGHLIGHTS</h5>

                <ul>
                    <li>24 years of experience in software design and development, bringing solutions that meet user
                        needs andhelp achieve business goals</li>
                    <li>Adherence to Agile software development principles and application of software engineering best
                        practices in building enterprise-wide web applications</li>
                    <li>Accomplished track record as a valuable team collaborator and contributor, consistently
                        exceeding
                        expectations and earning individual and team awards</li>
                    <li>Dedicated learner, leader, and mentor, guiding with positivity and driving others to succeed
                    </li>
                </ul>

                <h5>EXPERIENCE</h5>

                <div><b>Senior Software Engineer,</b> Pitney Bowes (Stamford, CT), 2009-June 2024 (contractor from
                    2009-2011)
                </div>
                <div class="ml-4">Technologies: Angular 2-15, AngularJS, Agile Methodologies, TypeScript,
                    JavaScript, Angular
                    Materials,
                    CI/CD, C#, SQL, HTML, CSS, Jest, Xamarin, Sass, Figma, JIRA, Jenkins, Git, Node.js, RxJS, Npm, Gulp,
                    PrimeNG</div>

                <ul class="mt-2">
                    <li>Lead Developer for a mail tracking and locker application, as a part of an enterprise software
                        system,
                        that was designed seamlessly with codevelopers working together in multiple countries, supported
                        13
                        different languages, and used worldwide.
                    <li>Participated in all aspects of Agile software development, including design, implementation, and
                        deployment.</li>
                    <li>Applied excellent collaboration and communication skills to work effectively with customers,
                        vendors,
                        and cross-functional teams developing requirements and solving integration issues.</li>
                    <li>Demonstrated commitment to mentoring and supporting junior developers and contractors through
                        task
                        delegation, code reviews, and collaborative problem-solving.</li>
                    <li>Ability to independently design and develop software from the ground up and end-to end.</li>
                    <li>Proficient understanding of cross-browser compatibilities, accessible requirements, and
                        compliance
                        standards.</li>
                    <li>Implemented Analytics to better understand client behavior and improve user experience.</li>
                    <li>Major contributor in twice transitioning entire website to different hosting providers.</li>
                    <li>Developed complex reports to examine trends and provide clients a window into their business
                        successes.</li>
                    <li>Designed and developed database structures involving table, views, indexes, jobs, procedures,
                        functions and more.</li>
                </ul>

                <div><b>Senior Web Developer,</b> CTIS (Rockville, MD), 2003-2009</div>
                <div class="ml-4">Technologies: C#, SQL, ASP.Net, JavaScript, AJAX, HTML, CSS, Jasmine, Jenkins,
                    Git</div>

                <ul class="mt-2">
                    <li>One of the lead developers in the full lifecycle of a large, multimillion-dollar, complex
                        enterprise
                        development project for the U.S. government Division of AIDS.
                    <li>Heavy use of JavaScript along with AJAX to improve performance and end user experience.</li>
                    <li>Good knowledge of complex relational database concepts, and Enterprise methodologies.</li>
                    <li>Team player working very closely with testers to help promote most robust application possible.
                    </li>
                    <li>Multi-task experience working continuously through build phases over 7 environments.</li>
                    <li>Rated as “exceeded expectations”, the highest possible mark, on annual evaluation.</li>
                    <li>Used encryption to ensure the most secured application possible. Modified code to meet Section
                        508</li>
                    compliance and 21CFR11 standards. Used various patterns like factory, singleton, delegate, etc. to
                    ensure robust best practice code.
                    <li>Developed complex reports for using Reporting Services on SQL Server 2005.</li>
                    <li>Used Master Pages to provide uniform look and ease of maintenance across application.</li>
                    <li>Trained junior team members in new .NET technologies and best practices implementation.</li>
                </ul>

                <div><b>Web Developer,</b> IMEDLink (Bethesda, MD), 2002-2003</div>
                Technologies: C#, SQL, ASP.Net, JavaScript, HTML, CSS, Git

                <ul class="mt-2">
                    <li>Led team project using Visual Studio .NET and C# to develop 80% of a backend ingestion engine,
                        which
                        transitioned data from PowerPoint documents to a database. Developed .NET Windows Forms to
                        interface
                        this engine.</li>
                    <li>Used .NET technology and C# to co-develop a multi-million dollar online educational application
                        to
                        facilitate nursing certifications in major hospitals and universities.</li>
                    <li>Used SQL explicit queries and stored procedures to return XML from database.</li>
                    <li>Worked with basic Web Services.</li>
                </ul>

                <div><b>System Development Specialist,</b> FCG (Vienna, VA), 2000-2002</div>
                Technologies: ASP, SQL, JavaScript, HTML, CSS, Git

                <ul class="mt-2">
                    <li>Administered Website for startup firm that develops and prices health and disability products
                        for
                        online Internet purchase by businesses and consumers. Interfaced with client to provide
                        technical
                        consultation and change to Website. Used HTML, JavaScript, and CSS.</li>
                    <li>Redeveloped Employee Administration application on intranet using HTML, ASP, and SQL.</li>
                    <li>Supported development of a multi-million-dollar Java application for Blue Cross Blue Shield that
                        maintained a centralized database containing details on doctors, hospitals, and insurance
                        information
                        from 52 centers nationwide.</li>
                </ul>

                <div><b>PC Support Specialist,</b> IKON Office Solutions (McLean, VA), 1998-2000</div>
                Technologies: JavaScript, HTML, CSS

                <ul class="mt-2 mb-5">
                    <li>Provided Website construction and maintenance support.</li>
                    <li>Provided tier 1, tier 2, and tier 3 technical support to troubleshoot problems such as hardware
                        failures, application glitches, programming errors, software/hardware conflicts, viruses, etc.
                    </li>
                    <li>Assisted three branches as a network administrator supporting a 250 node LAN with 12 servers.
                    </li>
                </ul>

            </div>

        </div>
    </div>

</section>
<!-- End -->